<div class="p-2 w-full h-full mx-auto">
  <div class="flex flex-1 w-full h-full mx-auto">
    <div
      class="w-full h-full bg-white rounded-xl shadow overflow-auto dark:bg-slate-900"
    >
      <div class="mt-3 p-4">
        <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 active"
            id="select-destination-id"
            data-hs-tab="#select-destination"
            aria-controls="select-destination"
            role="tab"
          >
            Select destination
          </button>
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            id="select-repository-id"
            data-hs-tab="#select-repository"
            aria-controls="select-repository"
            role="tab"
            [disabled]="!selectedDestination"
          >
            Select repository
          </button>
          <button
            type="button"
            class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            id="basic-tabs-item-3"
            data-hs-tab="#basic-tabs-3"
            aria-controls="basic-tabs-3"
            role="tab"
            [disabled]="!selectedDestination && !repoUrl"
          >
            Select buildpack
          </button>
        </nav>
      </div>
      <div class="max-w-[85rem] mx-auto">
        <!-- Destination Tab -->
        <div
          id="select-destination"
          role="tabpanel"
          aria-labelledby="select-destination"
          class="flex flex-col flex-1 p-4 gap-4 sm:gap-6"
        >
          <div
            class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6"
          >
            @for (destination of destinations(); track $index) {
            <button
              (click)="selectDestination(destination)"
              class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
            >
              <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                  <div class="flex items-center">
                    <svg
                      class="h-[2.375rem] w-[2.375rem]"
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="100"
                      height="100"
                      viewBox="0 0 48 48"
                    >
                      <path
                        fill="#2395ec"
                        d="M47.527,19.847c-0.13-0.102-1.345-1.007-3.908-1.007c-0.677,0.003-1.352,0.06-2.019,0.171 c-0.496-3.354-3.219-4.93-3.345-5.003l-0.688-0.392l-0.453,0.644c-0.567,0.866-1.068,1.76-1.311,2.763 c-0.459,1.915-0.18,3.713,0.806,5.25C35.417,22.928,33.386,22.986,33,23H1.582c-0.826,0.001-1.496,0.66-1.501,1.474 c-0.037,2.733,0.353,5.553,1.306,8.119c1.089,2.818,2.71,4.894,4.818,6.164C8.567,40.184,12.405,41,16.756,41 c1.965,0.006,3.927-0.169,5.859-0.524c2.686-0.487,5.271-1.413,7.647-2.74c1.958-1.119,3.72-2.542,5.219-4.215 c2.505-2.798,3.997-5.913,5.107-8.682c0.149,0,0.298,0,0.442,0c2.743,0,4.429-1.083,5.359-1.99 c0.618-0.579,1.101-1.284,1.414-2.065L48,20.216L47.527,19.847z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M8,22H5c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C9,21.552,8.552,22,8,22z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M14,22h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C15,21.552,14.552,22,14,22z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M20,22h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C21,21.552,20.552,22,20,22z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M26,22h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C27,21.552,26.552,22,26,22z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M14,16h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C15,15.552,14.552,16,14,16z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M20,16h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C21,15.552,20.552,16,20,16z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M26,16h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C27,15.552,26.552,16,26,16z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M26,10h-3c-0.552,0-1-0.448-1-1V6c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C27,9.552,26.552,10,26,10z"
                      ></path>
                      <path
                        fill="#2395ec"
                        d="M32,22h-3c-0.552,0-1-0.448-1-1v-3c0-0.552,0.448-1,1-1h3c0.552,0,1,0.448,1,1v3 C33,21.552,32.552,22,32,22z"
                      ></path>
                    </svg>
                    <div class="ml-3">
                      <h3
                        class="group-hover:text-purple-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200"
                        [ngClass]="{
                          'text-purple-600':
                            selectedDestination &&
                            selectedDestination.name === destination.name
                        }"
                      >
                        {{ destination.name }}
                      </h3>
                    </div>
                  </div>
                  <div class="pl-3">
                    <svg
                      class="w-3.5 h-3.5 text-gray-500"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <path
                        d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </button>
            }
          </div>
        </div>

        <div
          id="select-repository"
          role="tabpanel"
          aria-labelledby="select-repository"
          class="hidden"
        >
          <div class="flex flex-col flex-1 p-4 gap-4 sm:gap-6">
            <h1 class="text-xl font-semibold">Public Repository from Git</h1>

            <div class="grid grid-cols-4 gap-2 sm:gap-4">
              <input
                id="af-account-password"
                type="text"
                class="col-span-3 py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                [formControl]="repoUrl"
              />

              <button
                (click)="loadRepository()"
                type="button"
                class="flex justify-center text-center py-2 px-3 items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-purple-600 text-white hover:bg-purple-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              >
                @if (loading()) {
                <span
                  class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full dark:text-white"
                  role="status"
                  aria-label="loading"
                >
                  <span class="sr-only">Loading...</span>
                </span>
                } Load repository
              </button>
            </div>

            <select
              class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
              (change)="selectBranch($event)"
              [disabled]="!branches().length"
            >
              @for (branch of branches(); track $index) {
              <option value="{{ branch.value }}">{{ branch.label }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
