<div class="navbar bg-base-100 shadow w-full">
    <div class="navbar-start">
        <!-- RESPONSIVE DROPDOWN -->
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a>Item 1</a></li>
                <li>
                    <a>Parent</a>
                    <ul class="p-2">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li>
                <li><a>Item 3</a></li>
            </ul>
        </div>
        <!-- BRAND -->
        <a class="btn btn-ghost normal-case text-xl">vPAAS</a>

        <!-- NAVBAR CONTENT -->
        <!-- <ul class="menu menu-horizontal px-1 hidden md:flex">
            <li><a>Applications</a></li>
            <li><a>Services</a></li>
            <li><a>Databases</a></li>
            <li><a>Destinations</a></li>
        </ul> -->
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-10">
                    <span>{{(user | async)?.email?.slice(0, 2)?.toUpperCase()}}</span>
                </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </div>
</div>