<div class="p-2 w-full h-full mx-auto">
  <!-- Card Section -->
  <div class="flex flex-1 w-full h-full mx-auto">
    <div
      class="w-full h-full bg-white rounded-xl shadow overflow-auto dark:bg-slate-900"
    >
      <!-- Card Section -->
      <div class="px-6 py-4 mx-auto">
        <div class="sticky top-0 bg-white">
          <!-- Card -->
          <div class="flex flex-1 justify-between items-center mb-8">
            <div>
              <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Database
              </h2>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                Manage databse settings.
              </p>
            </div>

            <div class="flex items-center gap-2">
              @if (!isRunning()) {
              <button
                (click)="startDatabase()"
                type="button"
                class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-green-500 text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                @if (databaseStatusLoader()) {
                <span
                  class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white-600 rounded-full dark:text-white-500"
                  role="status"
                  aria-label="loading"
                >
                  <span class="sr-only">Loading...</span>
                </span>
                } Start
              </button>
              } @else {
              <button
                (click)="stopDatabase()"
                type="button"
                class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-yellow-500 text-white hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                @if (databaseStatusLoader()) {
                <span
                  class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white-600 rounded-full dark:text-white-500"
                  role="status"
                  aria-label="loading"
                >
                  <span class="sr-only">Loading...</span>
                </span>
                } Stop
              </button>
              }

              <button
                (click)="createBackup()"
                type="button"
                class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-yellow-500 text-white hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                @if (databaseBackupLoader()) {
                <span
                  class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white-600 rounded-full dark:text-white-500"
                  role="status"
                  aria-label="loading"
                >
                  <span class="sr-only">Loading...</span>
                </span>
                }
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-5 h-5"
                >
                  <ellipse cx="12" cy="5" rx="9" ry="3" />
                  <path d="M3 12a9 3 0 0 0 5 2.69" />
                  <path d="M21 9.3V5" />
                  <path d="M3 5v14a9 3 0 0 0 6.47 2.88" />
                  <path d="M12 12v4h4" />
                  <path
                    d="M13 20a5 5 0 0 0 9-3 4.5 4.5 0 0 0-4.5-4.5c-1.33 0-2.54.54-3.41 1.41L12 16"
                  />
                </svg>
              </button>

              <button
                (click)="delete()"
                type="button"
                class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold text-gray-800 hover:bg-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-5 h-5"
                >
                  <path d="M3 6h18" />
                  <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                  <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                  <line x1="10" x2="10" y1="11" y2="17" />
                  <line x1="14" x2="14" y1="11" y2="17" />
                </svg>
              </button>
            </div>
          </div>

          <div class="border-b border-gray-200 dark:border-gray-700">
            <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
              <button
                type="button"
                class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 focus:outline-none focus:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500 active"
                id="tabs-with-icons-item-1"
                data-hs-tab="#tabs-with-icons-1"
                aria-controls="tabs-with-icons-1"
                role="tab"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-4 h-4"
                >
                  <path
                    d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                Configuration
              </button>
              <button
                (click)="openLogs()"
                type="button"
                class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 focus:outline-none focus:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500"
                id="tabs-with-icons-item-2"
                data-hs-tab="#tabs-with-icons-2"
                aria-controls="tabs-with-icons-2"
                role="tab"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-4 h-4"
                >
                  <path
                    d="M8 21h12a2 2 0 0 0 2-2v-2H10v2a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v3h4"
                  />
                  <path d="M19 17V5a2 2 0 0 0-2-2H4" />
                  <path d="M15 8h-5" />
                  <path d="M15 12h-5" />
                </svg>
                Logs
              </button>

              <button
                (click)="openUsage()"
                type="button"
                class="hs-tab-active:font-semibold hs-tab-active:border-purple-600 hs-tab-active:text-purple-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-purple-600 focus:outline-none focus:text-purple-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-purple-500"
                id="tabs-with-icons-item-3"
                data-hs-tab="#tabs-with-icons-3"
                aria-controls="tabs-with-icons-3"
                role="tab"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-4 h-4"
                >
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <rect x="9" y="9" width="6" height="6" />
                  <path d="M15 2v2" />
                  <path d="M15 20v2" />
                  <path d="M2 15h2" />
                  <path d="M2 9h2" />
                  <path d="M20 15h2" />
                  <path d="M20 9h2" />
                  <path d="M9 2v2" />
                  <path d="M9 20v2" />
                </svg>
                Usage
              </button>
            </nav>
          </div>
        </div>

        <div class="mt-3">
          <div
            id="tabs-with-icons-1"
            role="tabpanel"
            aria-labelledby="tabs-with-icons-item-1"
          >
            <form [formGroup]="form">
              <!-- Grid -->
              <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                <div class="sm:col-span-3">
                  <label
                    for="af-account-full-name"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Name
                  </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <div class="sm:flex">
                    <input
                      id="af-account-email"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="name"
                    />
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-email"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Type
                  </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <input
                    id="af-account-email"
                    type="email"
                    class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                    formControlName="type"
                    readonly
                  />
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-password"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Version
                  </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <div class="space-y-2">
                    <input
                      id="af-account-password"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="version"
                      readonly
                    />
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Grid -->

              <div
                class="grid sm:grid-cols-12 gap-2 sm:gap-6 border-t border-gray-200 mt-4"
              >
                <div class="sm:col-span-12 mt-2">
                  <h2
                    class="text-lg font-semibold text-gray-800 dark:text-gray-200"
                  >
                    Credentials
                  </h2>
                </div>
                <div class="sm:col-span-3">
                  <label
                    for="af-account-full-name"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Default database
                  </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <div class="sm:flex">
                    <input
                      id="af-account-email"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="defaultDatabase"
                    />
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-email"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Database user
                  </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <input
                    id="af-account-email"
                    type="email"
                    class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                    formControlName="dbUser"
                  />
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-password"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Database user password
                  </label>
                </div>
                <div class="sm:col-span-9">
                  <div class="space-y-2">
                    <input
                      id="af-account-password"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="dbUserPassword"
                    />
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-password"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Database root
                  </label>
                </div>
                <div class="sm:col-span-9">
                  <div class="space-y-2">
                    <input
                      id="af-account-password"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="rootUser"
                    />
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-password"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Database root password
                  </label>
                </div>
                <div class="sm:col-span-9">
                  <div class="space-y-2">
                    <input
                      id="af-account-password"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      formControlName="rootUserPassword"
                    />
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-3">
                  <label
                    for="af-account-password"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Connection url
                  </label>
                </div>
                <div class="sm:col-span-9">
                  <div class="space-y-2">
                    @if (!showConnectionString()) {
                    <button
                      (click)="showConnectionStringHandler()"
                      type="button"
                      class="w-full py-3 px-4 inline-flex justify-start sm:justify-center items-center gap-2 rounded-md border border-gray-200 font-semibold text-purple-500 hover:bg-purple-100 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                    >
                      Show connection string
                    </button>
                    } @else {
                    <input
                      id="af-account-password"
                      type="text"
                      class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-purple-500 focus:ring-purple-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                      [value]="generateUrl()"
                    />
                    }
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Grid -->

              <div
                class="grid sm:grid-cols-12 gap-2 sm:gap-6 border-t border-gray-200 mt-4"
              >
                <div class="sm:col-span-12 mt-2">
                  <h2
                    class="text-lg font-semibold text-gray-800 dark:text-gray-200"
                  >
                    Access
                  </h2>
                </div>
                <div class="sm:col-span-3">
                  <label
                    for="af-account-full-name"
                    class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"
                  >
                    Public access
                  </label>

                  <div class="hs-tooltip inline-block">
                    <button type="button" class="hs-tooltip-toggle ml-1">
                      <svg
                        class="inline-block w-3 h-3 text-gray-400 dark:text-gray-600"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                        />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                        />
                      </svg>
                    </button>
                    <span
                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible w-40 text-center z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                      role="tooltip"
                    >
                      Provide database access through internet.
                    </span>
                  </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-9">
                  <div class="sm:flex">
                    <input
                      type="checkbox"
                      id="hs-valid-toggle-switch"
                      class="relative shrink-0 w-[3.25rem] h-7 p-px bg-gray-100 border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-purple-600 disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-purple-600 checked:border-purple-600 focus:checked:border-purple-600 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-purple-500 dark:checked:border-purple-500 dark:focus:ring-offset-gray-600 before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-purple-200 before:translate-x-0 checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-purple-200"
                      formControlName="publicAccess"
                    />
                  </div>
                </div>
                <!-- End Col -->
                <!-- End Col -->
              </div>
              <!-- End Grid -->

              <div class="mt-5 flex justify-end gap-x-2">
                <button
                  type="button"
                  class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-purple-500 text-white hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
          <div
            id="tabs-with-icons-2"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-icons-item-2"
          >
            <div
              class="flex flex-1 flex-col p-2 bg-gray-200 border border-gray-200 rounded h-full w-full overflow-auto"
            >
              @if (!isRunning()) {
              <span>Start database to show logs.</span>
              } @else { @for (log of logs(); track $index) {
              <span>{{ log }}</span>
              } }
            </div>
          </div>

          <div
            id="tabs-with-icons-3"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-icons-item-3"
          >
            <div
              class="flex flex-1 flex-col p-2 bg-gray-200 border border-gray-200 rounded h-full w-full overflow-auto"
            >
              @if (!isRunning()) {
              <span>Start database to show usage.</span>
              } @else { @defer (when usage().BlockIO) {
              <div class="max-w-[85rem] p-2 mx-auto">
                <div
                  class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8"
                >
                  <div>
                    <h4
                      class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200"
                    >
                      CPU
                    </h4>
                    <p
                      class="mt-2 sm:mt-3 text-4xl sm:text-2xl font-bold text-purple-600"
                    >
                      {{ usage().CPUPerc }}
                    </p>
                  </div>

                  <div>
                    <h4
                      class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200"
                    >
                      Memory %
                    </h4>
                    <p
                      class="mt-2 sm:mt-3 text-4xl sm:text-2xl font-bold text-purple-600"
                    >
                      {{ usage().MemPerc }}
                    </p>
                  </div>

                  <div>
                    <h4
                      class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200"
                    >
                      Memory Usage
                    </h4>
                    <p
                      class="mt-2 sm:mt-3 text-4xl sm:text-2xl font-bold text-purple-600"
                    >
                      {{ usage().MemUsage }}
                    </p>
                  </div>

                  <div>
                    <h4
                      class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200"
                    >
                      Net
                    </h4>
                    <p
                      class="mt-2 sm:mt-3 text-4xl sm:text-2xl font-bold text-purple-600"
                    >
                      {{ usage().NetIO }}
                    </p>
                  </div>
                </div>
              </div>
              } @loading (after 100ms; minimum 1s) {
              <span>Loading...</span>
              } }
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Card Section -->
  </div>
</div>
